[analysisinfo]
enabled = yes

[apkinfo]
enabled = no
# decompilation_threshold=5000000

[baseline]
enabled = no

[behavior]
enabled = yes

[buffer]
enabled = yes

[debug]
enabled = yes

[droidmon]
enabled = no

[dropped]
enabled = yes

[dumptls]
enabled = yes

[googleplay]
enabled = no
android_id =
google_login =
google_password =

[memory]
enabled = no

[network]
enabled = yes

[procmemory]
enabled = yes
idapro = no

[screenshots]
enabled = no
tesseract = /usr/bin/tesseract

[snort]
enabled = no
# snort = /usr/local/bin/snort
# conf = /etc/snort/snort.conf

[static]
enabled = yes

[strings]
enabled = yes

[suricata]
enabled = no
# suricata = /usr/bin/suricata
# conf = /etc/suricata/suricata.yaml
# eve_log = eve.json
# files_log = files-json.log
# files_dir = files
# "suricata --unix-socket -D".
# (Please find more information in utils/suricata.sh for now).
# socket = /var/run/suricata/cuckoo.socket

[targetinfo]
enabled = yes

[virustotal]
enabled = yes
timeout = 60
scan = 0
key = a0283a2c3d55728300d064874239b5346fb991317e8449fe43c902879d758088
